body,a {
    background-color: rgb(44, 44, 44);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
}

div {
    width: 47%;
    display: inline-block;
}

img {
    margin: 2px;
}
